{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'orders/reset.css' %}">
    <link rel="stylesheet" href="{% static 'orders/styles.css' %}">
    {% block head_content %}{% endblock %}
</head>
<body>
    {% include "orders/prueba2.html" %}
    {% include "orders/nav.html" %}

    
    {% block container %}{% endblock%}

    <footer>
        {% comment %} <a href="#">Contacto 1</a>
        <a href="#">Contacto 2</a>
        <a href="#">Términos y condiciones</a> {% endcomment %}
    </footer>
</body>
</html>
