{% extends 'orders/base.html' %}

{% block head_content %}
<title>Orden {{order.id}}</title>
{% endblock %}

{% block container %}

        
    <header><h1> Orden #{{order.id}}</h1></header>

    {% if error_message %}
        <p><strong> {{ error_message }}</strong></p>
    {% endif %}
    <main>
        <fieldset class="detail">
            <p>Unidades: {{ order.units}}</p><br>
            <p>Flor: {{ order.flower.name}}</p><br>
            <p>Fecha de solicitud: {{ order.pub_date}}</p><br>
            <p>Observaciones:   {{ order.observations_text}} </p>
            
        </fieldset>
        

    </main>
    
{% endblock%}


