{% extends 'orders/base.html' %}

{% block head_content %}
<title>Orden {{order.id}}</title>
{% endblock %}

{% block container %}

        
    <header><h1> Orden {{order.id}}</h1></header>

    {% if error_message %}
        <p><strong> {{ error_message }}</strong></p>
    {% endif %}
    <main>
        <p>{{ order.units}} Unidades</p>
        <p>Flor: {{ order.flower.name}}</p>
        <p>Las observaciones son : {{ order.observations_text}}</p>
        <p>La fecha de publicacion es : {{ order.pub_date}}</p> 

    </main>
    
{% endblock%}


