{% load static %}
<!--Footer Area Start-->
<footer class="footer-area mt-text-3">
    <div class="footer-widget-area">
        <div class="container container-default custom-area">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-3 col-custom">
                    <div class="single-footer-widget m-0">
                        <div class="footer-logo">
                            <a href="{% url 'index' %}">
                                <img src="{% static 'orders/assets/images/logo/logo-footer.png' %}" alt="Logo Image">
                            </a>
                        </div>
                        <p class="desc-content">Aris distribuidora de flores, follajes y base</p>
                        <div class="social-links">
                            <ul class="d-flex">
                                <li>
                                    <a class="rounded-circle" href="#" title="Facebook">
                                        <i class="fa fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="rounded-circle" href="#" title="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="rounded-circle" href="#" title="Linkedin">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="rounded-circle" href="#" title="Youtube">
                                        <i class="fa fa-youtube"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="rounded-circle" href="#" title="Vimeo">
                                        <i class="fa fa-vimeo"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Informacion</h2>
                        <ul class="widget-list">
                            <li><a href="about-us.html">Nuestra Compañia</a></li>
                            <li><a href="contact-us.html">Contacto</a></li>
                            <li><a href="about-us.html">Nuestros Servicios</a></li>
                            <li><a href="about-us.html">Por que Nosotros</a></li>
                            <li><a href="about-us.html">Careers</a></li>
                        </ul>
                    </div>
                </div>
                {% comment %} <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Quicklink</h2>
                        <ul class="widget-list">
                            <li><a href="{% url 'about_us' %}">About</a></li>
                            <li><a href="{% url 'blog' %}">Blog</a></li>
                            <li><a href="{% url 'shop' %}">Shop</a></li>
                            <li><a href="cart.html">Cart</a></li>
                            <li><a href="{% url 'contact_us' %}">Contact</a></li>
                        </ul>
                    </div>
                </div> {% endcomment %}
                <div class="col-12 col-sm-6 col-md-6 col-lg-2 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Soporte</h2>
                        <ul class="widget-list">
                            <li><a href="contact-us.html">Habla con Nosotros</a></li>
                            <li><a href="contact-us.html">Politica de Envios</a></li>
                            <li><a href="contact-us.html">Politica de Devoluciones</a></li>
                            <li><a href="contact-us.html">Politica de Privacidad</a></li>
                            <li><a href="contact-us.html">Terminos y Condiciones</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-custom">
                    <div class="single-footer-widget">
                        <h2 class="widget-title">Direccion</h2>
                        <div class="widget-body">
                            <address>Calle 17 #155 , Zona Centro CP:87300 H. Matamoros Tamaulipas<br>Phone:+52(868)3488886<br>Email: Ventas@arisdistribuidora.com</address>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-copyright-area">
        <div class="container custom-area">
            <div class="row">
                <div class="col-12 text-center col-custom">
                    <div class="copyright-content">
                        <p>ARIS DISTRIBUIDORA DE FLORES NATURALES S.A de C.V <a href="https://hasthemes.com/" title="https://hasthemes.com/">HasThemes</a> | Built with&nbsp;<strong>FloSun</strong>&nbsp;by <a href="https://hasthemes.com/" title="https://hasthemes.com/">HasThemes</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--Footer Area End-->