{% extends 'orders/base.html' %}
{% load static %}

{% block head_content %}
<title>Listado de Ordenes</title>
{% endblock %}

{% block container %}
    <link rel="stylesheet" href="{% static 'orders/index.css' %}">
    <header><h1>Listado de Ordenes</h1></header>
    <nav class="nav_menu">
        <ul>
            <li>
                <a href="{% url 'orders:index' %}"> Activas</a>
            </li>
            <li >
                <a href="{% url 'orders:index' %}">Canceladas</a>
            </li>
            <li>
                <a href="{% url 'orders:index' %}">Entregadas</a>
            </li>
        </ul>
    </nav>
    <br>
    <br>
    <main>
        
        {% if latest_orders_list %}
        
            <ul class="ul_index">
            {% for order in latest_orders_list  %}
                <fieldset>
                    <li class="li_index">
                        <a href="{% url 'orders:detail' order.id %}">
                            Orden #{{ order.id }}<br>
                            <p>{{order.units}} unidades de {{order.flower.name}}</p>
                        </a>
                    </li>
                </fieldset>
                <br> 
            {% endfor %}
            </ul>
         
        {% else %}
            <p>No orders are available.</p>
        {% endif %}
    </main>
    
{% endblock%}


