{% extends 'orders/base.html' %}
{% load static %}

{% block head_content %}
<title>Nueva orden</title>
{% endblock %}

{% block container %}

        
    <header><h1> Nueva Orden </h1></header>

    {% if error_message %}
        <p><strong> {{ error_message }}</strong></p>
    {% endif %}
    <link rel="stylesheet" href="{% static 'orders/new.css' %}">
    <main>
       <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {# Flower #}
            <select name="flower" class="input_select">
            {% for flower1 in form.flower %}
                {{flower1}}
            {% endfor  %}
            </select>
            

            {# Units #}
            <input type="text" class="input_text" name="units" placeholder="Unidades">

            {# observation_text field #}
            <input type="text" class="input_text" name="observations_text" placeholder="Observaciones">
            
            <input type="submit" class="input_submit" value="Aceptar"> 
        </form> 
    </main>
    
{% endblock%}

