{% extends 'orders/product-details.html' %}
{% load static %}

{% block detail %}

<div class="product-meta">
    <div class="product-size mb-4">
        <span>Size :</span>
        <a href="#"> <strong>S</strong></a>
        <a href="#"> <strong>M</strong></a>
        <a href="#"> <strong>L</strong></a>
        <a href="#"> <strong>XL</strong></a>
    </div>
    <div class="product-color d-flex mb-4">
        <span class="d-flex align-items-center">Color :</span>
        <div class="sidebar-list">
            <button type="button" class="btn red"></button>
            <button type="button" class="btn blue"></button>
            <button type="button" class="btn yellow"></button>
            <button type="button" class="btn gold"></button>
            <button type="button" class="btn gray"></button>
        </div>
    </div>
    <div class="product-material mb-4">
        <span>Material :</span>
        <a href="#"><strong>metal</strong></a>
        <a href="#"><strong>resin</strong></a>
        <a href="#"><strong>leather</strong></a>
        <a href="#"><strong>slag</strong></a>
    </div>
</div>

{% endblock detail %}
    