.nav_menu {
    text-align: center;
}

.nav_menu ul{
    overflow: hidden;   /* without having given the element a set height, when you set overflow to hidden it takes on the height of the inner elements.*/
    padding: 20px 0;
    display: inline-block;
    /* background: black; */
}

.nav_menu li{
    float: left;
}

.nav_menu a {
    display: inline;
    font-size: 18px;
    padding: 20px;
    margin-inline: 3px;
}

.nav_menu li a:hover {
    background: black;
    color: white;
  }


.todas, .Activo, .Cancelado, .Despachado,.Entregado, .uno a{
    background: black;
    color: white;
}

