.nav {
    text-align: left;
}

.nav ul {
    overflow: hidden;   /* without having given the element a set height, when you set overflow to hidden it takes on the height of the inner elements.*/
    padding: 20px 0;
    /* background: black; */
}

.nav li{
    float: left;
}

.nav a {
    display: inline;
    font-size: 22px;
    padding: 20px;
}

.nav li:hover a{
    background: black;
    color: white;
  }