body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

header {
    font-size: 60px;
    padding: 30px 50px 30px;

}

footer {
    justify-content: space-evenly;
    padding: 30px 50px 50px;
}


.ul_index{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.li_index {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    font-size: 28px;
    margin-bottom: 20px;
    padding: 50px;
    width: 500px;
}

