{% extends "users/base.html"%}
{% load static %}

{% block head_content %}
<title> Ingresar </title>
{% endblock %}

{% block container %}
    
    {% if form.errors %}

        <p>
            {{form.errors}}
        </p>
       
    {%endif%}
    <header><h1>Ingresa</h1></header>

    <link rel="stylesheet" href="{% static 'orders/new.css' %}">
    <form method="POST" action="{% url 'users:login' %}">
        
        {% csrf_token %}
        
        
        <input type="text" class="input_text" placeholder="username" name="username" />
        
        <input type="password" class="input_text" placeholder="Password" name="password" />
        
        <input type="submit" class="input_submit" value="Ingresar"> 

    </form>
    <br>
    <p>No tienes un usuario?<a href="{% url 'users:signup' %}"> Registrate aquí</a></p>

{% endblock%}