{% extends "users/base.html"%}
{% load static %}

{% block head_content %}
<title>Sing up</title>
{% endblock %}

{% block container %}

    <header><h1>Registrate</h1></header>

    {% if form.errors %}
        <p style="color:red"><strong> {{ form.non_field_errors }}</strong></p>
        <br>
    {% endif %}

    <link rel="stylesheet" href="{% static 'users/signup.css' %}">
    <form method= "POST" action="{% url 'users:signup'%}">

        {% csrf_token %}


        <input type="text" class="input_text" name="username" maxlength="15" minlength="4" placeholder="Username" required="" id="id_username"><br>
        {{form.errors.username}}
        <input type="email" class="input_text" name="email" maxlength="50" minlength="6" placeholder="Email" required="" id="id_email"><br>
        {{form.errors.email}}
        <input type="password" class="input_text" name="password" maxlength="70" placeholder="Password" required="" id="id_password"><br>
        {{form.errors.password}}
        <input type="password" class="input_text" name="password_confirmation" maxlength="70" placeholder="Password confirmation" required="" id="id_password_confirmation"><br><br> 
        {{form.errors.password_confirmation}}
        <input type="submit" class="input_submit" value="Registrarme!">

    </form>
    <br><br>

    <p><a href="{% url 'users:login' %}">ya tienes cuenta? Ingresa aquí</a></p>
    
{% endblock%}