{% extends 'orders/base.html' %}
{% load static %}

{% block head_content %}
<title>Orden {{order.id}}</title>
{% endblock %}

{% block container %}
    <link rel="stylesheet" href="{% static 'orders/detail.css' %}">
  
    <header><h1> Orden #{{order.id}}</h1></header>

    {% if error_message %}
        <p><strong> {{ error_message }}</strong></p>
    {% endif %}
    <main>
        <fieldset class="detail">
            <p>Unidades: {{ order.units}}</p>
            <p>Flor: {{ order.flower.name}}</p>
            <p>Fecha de solicitud: {{ order.pub_date}}</p>
            <p>Observaciones:   {{ order.observations_text}} </p>
            <p>Estado:  {{ order.status}} </p>
            
        </fieldset>
        

    </main>
    
{% endblock%}


